body {
	width: 100%;
	height: 100vh;
	display: fleax;
	justify-content:center;
	align-items: center;
	background: -webkit-linear-gradient(left, #7579ff, #b224ef);
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.cont {
	overflow: hidden;
	position: relative;
	width: 900px;
	height: 550px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%; 
}